@use '@/styles/variables' as *;

.phone-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    list-style: none;
    border-left: 1px solid $color-border-light-gray-dark;
    border-top: 1px solid $color-border-light-gray-dark;

    @media (min-width: $breakpoint-desktop) {
        grid-template-columns: repeat(5, 1fr);
    }

    &__item {
        aspect-ratio: 1 / 1;
        border-right: 1px solid $color-border-light-gray-dark;
        border-bottom: 1px solid $color-border-light-gray-dark;
        display: flex;
    }

    &__empty {
        color: $color-text-secondary;
        font-size: $font-size-base;
        text-align: center;
        margin: $spacing-lg 0;
    }
}
