// Colour palette.
$color-white: #ffffff;
$color-red: #d20000;
$color-text-primary: #333333;
$color-text-secondary: #555555;
$color-black: #151515;
$color-border-light-gray: #a1a1a1;
$color-border-light-gray-dark: #3b3b3b;

// Typography.
$font-primary: Helvetica, Arial, sans-serif;
$font-size-base: 1rem;
$font-size-small: 0.75rem;
$font-size-xsmall: 0.6rem;
$font-size-heading: 1.25rem;

// Spacing.
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-lg-xl: 3rem;
$spacing-xl: 4rem;

// Breakpoints.
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
