@use '@/styles/variables' as *;

.search-bar {
    margin-top: 1.7rem;
    margin-bottom: 3.8rem;
    width: 100%;

    &__input-group {
        position: relative;
        width: 100%;
    }

    &__input {
        width: 100%;
        padding: 0.4rem 2rem 0.4rem 0.5rem;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid $color-border-light-gray;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &__clear-button {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    &__result-count {
        margin-top: 1rem;
    }
}
